* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cerenucakb/BE-4-Hot-Category-Grid */
.flex-hotcategory-container{
  display:flex;
  align-items:center;
}
.hotcategorytext {
  font-family: "Roboto";
  display:flex;
  padding: 5px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 34px;
}

.grid-hotcategory {
  max-width: 1320px;
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.largeimage {
  grid-row: span 2;
  width: 100%;
  height: auto;
}
.smallimage {
  width: 100%;
  height: auto;
}
.relative.hotcategory{
position: relative;

}

.saletext {
  display:flex ;
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  align-items: flex-start;
  line-height: normal;
  padding: 5px;
  width: 52px;
  font-family: "open sans";
}

/* END Cerenucakb/BE-4-Hot-Category-Grid */
