* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Or Subscribe To The Newsletter*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.grid-product-section-title {
  display: block;
  align-items: center;
  text-align: center;
  
}

.grid-product-section-title h2 {
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  margin: 0;
  color: #000000;
}


/* Top Section Product */

.index-2 .top-section-products-1{
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1320px;
  box-sizing: border-box;
}
.index-2 .category-1 {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 373px; 
  height: fit-content;
  box-sizing: border-box;
}

.index-2 .item-tab-1 {
  display: flex;
  box-sizing: border-box;
}

.index-2 .item-1 {
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
}

.index-2 .item-tab-2 {
  display: flex;
  box-sizing: border-box;
}

.index-2 .item-2 {
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.index-2 .item-tab-3 {
  display: flex;
  box-sizing: border-box;
}

.index-2 .item-3 {
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.index-2 .item-tab-4 {
  display: flex;
  box-sizing: border-box;
}

.index-2 .item-4 {
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.index-2 .button-1 {
  background: #1E2832;
  display: flex;
  flex-direction: row;
  padding: 5px 15.4px 5px 0;
  width: 92px;
  box-sizing: border-box;
  color: #FFFFFF;

}

.index-2 .filter-1 {
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  
}

.index-2 .v-6-İconfree-1 {
  margin: 3px 9.9px 3px 0;
  display: flex;
  box-sizing: border-box;
}

.index-2 .icon-1 {
  overflow-wrap: break-word;
  font-family: 'Font Awesome 6 Free', 'Roboto Condensed', sans-serif;
}

